/* RESET */
@import url('reset.css');

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat/Montserrat-Regular.woff2'), format(woff2);
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat/Montserrat-Bold.woff2'), format(woff2);
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto/Roboto-Regular.woff2'), format(woff2);
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto/Roboto-Bold.woff2'), format(woff2);
   font-weight: 700;
   font-display: swap;
}
/* _____________________________________ */
html {
	height: 100%;
   font-size: 10px;
}

body {
   background: #D8D8D6;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 1.8rem;
   line-height: 1.6;
   color:#161616;
   height: 100%;
}

.wrapper {
   display: flex;
	flex-flow: column;
	min-height: 100%; 
}

main {
	flex: 1;
}

.bg-green {
   background: rgba(129, 163, 107, 1);
}

.container {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 15px;
}

.subtitle {
   font-size: 3.2rem;
   font-weight: 700;
   text-align: center;
}

/* --------------------------------- */

/* Style header */

.header {
   padding: 2.5rem 0;
}

.container-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container-header img {
   width: 100%;
   object-fit: contain;
}

.menu {
   display: flex;
   gap: 3rem;
}

.menu > li a {
   text-decoration: none;
   color: #161616;
}


.burger-menu {
   width: 4rem;
   height: 3rem;
   position: relative;
   cursor: pointer;
   display: none;
}

.burger-menu::before, 
.burger-menu::after,
.burger-menu span {
   content: '';
   height: 3px;
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0;
   background: #000;
}

.burger-menu span {
   top: 50%;
   transform: translateY(-50%);
}

.burger-menu::after {
   top: auto;
   bottom: 0;  
}

/* ---------------------------------- */

/* Style main part */

.container-box {
   display: flex;
   gap: 3rem;
   align-items: center;
}

.inner-box {
   flex: 1 1 48%;
}

.flover-image {
   flex: 1 1 48%;
}

h1 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 6.2rem;
   margin-bottom: 6rem;
}

.box-text {
   text-align: justify;
   margin-bottom: 4rem;
}

.button {
   display: flex;
   gap: 6.5rem;
   text-align: center;
}

.order-link, .button-order{
	line-height: 1;
   padding: 2rem 2.5rem;
   border: 1px solid rgba(129, 163, 107, 1);
   font-family: 'Roboto', sans-serif;
   font-size: 1.8rem;
   text-decoration: none;
   color:#161616;
   cursor: pointer;
}

/* ------------------------------------ */

/* About Us */

.about-us {
   padding: 12rem 0;
}

.container-about-us {
   max-width: 54rem;
   margin: 0 auto;
   text-align: center;
}

.container-about-us h2 {
   margin-bottom: 6rem;
}

/* -------------------------- */

/* Cards */

.cards {
   padding: 8rem 0;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
}

.cards-list {
   display: flex;
   justify-content: space-between; 
   flex-wrap: wrap;
}

.cards-list li{
   padding-top: 10rem;
   background-image: url('../images/icon/Layer_2.png');
   background-position: 50% 0;
   background-repeat: no-repeat;
   text-align: center;
}

.cards-list li:nth-child(2){
   background-image: url('../images/icon/Layer_3.png');
}

.cards-list li:nth-child(3){
   background-image: url('../images/icon/Layer_4.png');
}

.cards-list li:nth-child(4){
   background-image: url('../images/icon/Layer_5.png');
}

.cards-list li:nth-child(5){
   background-image: url('../images/icon/Layer_6.png');
}

/* -------------------------------------- */

/* How we work */

.box-two {
   padding: 12rem 0;
}

.container-box-two {
   display: flex;
   gap: 3rem;
   align-items: center;
}

.box-two-inner h2 {
   margin-bottom: 6rem;
   text-align: center;
}

/* -------------------------------------- */

/* Our works */

.our-works {
   padding-bottom: 12rem;
}

.our-works h2 {
   margin-bottom: 8rem;
} 

.our-works-list {
   display: flex;
   gap: 3rem;
   flex-wrap: wrap;
   justify-content: center;
   
}

.our-works-list li {
   padding: 1.5rem 1.5rem 4rem;
   flex: 0 1 30%;
   text-align: center;
}

.our-works-list li a {
   display: block;
   line-height: 1rem;
   margin-bottom: 2.5rem;
}

.our-works-list li > img {
   width: 100%;
   object-fit: cover;
}

.our-works-list h3 a {
   color: #161616;
   text-decoration: none;
   line-height: 1;
}

/* -------------------------------------- */

/* Footer */

.footer {
   padding: 6rem 0;
}

.footer-inner {
   display: flex;
   justify-content: space-between;
}

.footer-inner div:nth-child(1) {
   order: 1;
}

.footer-inner div:nth-child(2) {
   order: 2;
}
.footer-inner div:nth-child(3) {
   order: 3;
}

.footer-item h3 {
   font-size: 2.4rem;
   font-weight: 500;
   margin-bottom: 4rem;
}

.footer-item-contacts li {
   margin-bottom: 2rem;
}

.footer-item-contacts li:last-child {
   margin-bottom: 0rem;
}

.footer-item-contacts li a {
   text-decoration: none;
   color: #161616;
}

.footer-sosial-list {
   display: flex;
   justify-content: center;
   gap: 2rem;
}

.text-last {
   margin-top: 4rem;
   text-align: center;
}

/* ------------------------------------- */

/* Adaptive */

@media screen and (max-width: 1100px) {
   body {
      font-size: 1.6rem;
      line-height: 1.4;
   }

   .container-header img {
      width: 80%;
      object-fit: contain;
   }

   h1 {
      font-size: 4.2rem;
      margin-bottom: 3rem;
   }

   .box-text {
      margin-bottom: 2rem;
   }

   .flover-image {
      width: 50%;
      height: auto;
   }

   .about-us, .box-two {
      padding: 6rem 0;
   }

   .container-about-us h2, .box-two-inner h2, .our-works h2 {
      margin-bottom: 4rem;
   }

   .subtitle {
      font-size: 2.4rem;
   }

   .our-works-list li {
      padding: 1.5rem;
   }

   .our-works-list li > img {
      width: 50%;
      height: 200px;
   }
}

@media screen and (max-width: 992px) {
   .burger-menu {
      display: block;
   }

   .menu {
      display: none;
   }

   .container-header img {
      width: 70%;
      object-fit: contain;
   }

   .button {
      flex-flow: column;
      gap: 2rem;
   }

   .order-link, .button-order{
      padding: 2rem .5rem;
      font-size: 1.6rem;
   }
}

@media screen and (max-width: 768px) {
   .flover-image {
      display: none;
   }

   .cards {
      padding: 4rem 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
   }

   .cards-list li {
      flex: 1 1 40%;
      font-size: 1.4rem;
      margin-bottom: 2rem;
   }

   .footer {
      padding: 3rem 0;
   }

   .footer-inner {
      flex-flow: column;
      gap: 3rem;
      align-items: center;
      text-align: center;
   }

   .footer-item h3 {
      margin-bottom: 2rem;
   }

   .footer-inner div:nth-child(1) {
      order: 2;
   }

   .footer-inner div:nth-child(2) {
      order: 1;
   }
   
   .footer-inner div:nth-child(3) {
      order: 3;
   }
}
