/* RESET */
@import url('reset.css');
/* _____________________________________ */
html {
	height: 100%;
}

body {
   background: #D8D8D6;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   height: 100%;
}

.wrapper {
   display: flex;
	flex-flow: column;
	min-height: 100%; 
}

main {
	flex: 1;
}

.bg-green {
   background: rgba(129, 163, 107, 1);
}

.container {
   max-width: 1110px;
   margin: 0 auto;

}

/* --------------------------------- */

/* Style header */

.container-header {
   display: flex;
   justify-content: space-between;
   gap: 130px;
}

.header-logo {
   margin: 20px 0;
}

.header-logo img {
   width: 155px;
   height: 39px;
   object-fit: contain;
}

.menu {
   display: flex;
   /* 1 вариант: если установить gap, то при добавлении доп вкладок контент вылазит за пределы контейнера */
   /* gap: 90px;   */
   
   /* 2 вариант: гибкий, можно добавлять сколько угодно доп вкладок */
   width: 825px;
   justify-content: space-between;
   align-items: center;
}

.menu a {
   text-decoration: none;
   color: #161616;
}

/* ---------------------------------- */

/* Style main part */

.container-box {
   display: flex;
   justify-content: space-between;
   margin-bottom: 120px;
}

.flover-image {
   width: 540px;
   height: 670px;
}

.box {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
}

.box >div {
   margin-bottom: 60px;
}

.pad-right {
   padding-right: 30px;

}

.title {
   width: 483px;
   height: 67px;
   margin-bottom: 60px;
}

.box-text {
   line-height: 1.6;
   overflow: hidden;
   text-align: justify;
}

.button {
   display: flex;
   flex-direction: row;
   width: 445px;
   gap: 65px;
}

.order-link, .button-order{
	padding: 19px 0;
	width: 190px;
   height: 60px;
   text-align: center;
   border: 1px solid rgba(129, 163, 107, 1);
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}

.order-link a {
   text-decoration: none;
   color:#161616;
}

/* ------------------------------------ */

/* About Us */

/* Вопрос: покажите как быстро копировать классы из html в css */

.container-about-us {
   display: flex;
   justify-content: center;
   margin-bottom: 120px;
}

.box-about-us {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.title-about-us {
   width: 108px;
   height: 34px;
   margin-bottom: 60px;
}

.text-about-us {
   width: 540px;
   text-align: center;
   line-height: 1.6;
   height: 86px;
   overflow: hidden;
}

/* -------------------------- */

/* Cards */

.container-cards {
   display: flex;
   margin-bottom: 120px;
   align-items: center;
   justify-content: space-around;
}

.box-cards {
   display: flex;
   gap: 45px;
   margin: 80px 0;

}

.card {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.img-card {
   display: flex;
	align-items: center;
	justify-content: center;
   margin-bottom: 20px;
}

.img-card img {
   width: 100%;
   object-fit: cover;
}

.card p {
   font-family: 'Montserrat', sans-serif;
}

/* -------------------------------------- */

/* How we work */

.flover-image-two {
   width: 539px;
   height: 560px;
}

.title-how-work {
   display: flex;
	align-items: center;
	justify-content: center;
   margin-bottom: 60px;
}

.title-how-work img {
   width: 403px;
   height: 38px;
}

.pad-left {
   padding-left: 30px;
}

/* -------------------------------------- */

/* Our works */

.container-our-works {
   display: flex;
   flex-flow: column;
   text-align: center;
}

.title-our-works {
   margin-bottom: 80px;
}

.cards-works {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.card-work {
   display: flex;
   max-width: 350px;
   flex-flow: column;
   padding-bottom: 40px;
   margin-bottom: 120px;
}

.flover-image-card {
   width: 320px;
   height: 402px;
   margin: 15px 15px 23px 15px;
}

/* -------------------------------------- */

/* Footer */

.container-footer {
   display: flex;
   flex-direction: column;
}

.main-footer {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   margin: 60px 0 40px 0;
}

.card-footer {
   display: flex;
   width: 250px;
   flex-direction: column;
   align-items: center;
}

.card-contact {
   align-items: flex-start;
}

.card-media {
   align-items: flex-end;
}

.card-footer li {
   margin-bottom: 40px;
}

.card-footer li+li {
   margin-bottom: 20px;
}

.card-footer li+li+li+li {
   margin: 0px;
}


.card-footer div {
   margin-bottom: 40px;
}

/* не смогла для этого класса реализовать, чтобы он был по центру дива((( */
.card-icons {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 10px;
}

.text-last {
   text-align: center;
   margin-bottom: 60px;
}

